
@table-border: 0.5px solid black;

table {
	border-spacing: 10px 50px;
	margin: 0 auto;
	tr {
		td {
			border: @table-border;
			padding: 80px 10px;
			text-align: center;
			width: 300px;
			text-shadow: 0px 1px 1px rgba(0,0,0,.2);
		}
	}
}

.first {
	background-color: #5bb2fc;
}
.second {
	background-color: #58ebd3;
}
.third {
	background-color: #ffa659;
}
.fourth {
	background-color: #ff7a85;
}

a {
	font: bold 40px 'Lucida Sans Unicode';
    text-decoration: none;
    background-color: #FFF;
    color: #333333;
    padding: 10px 10px 10px 10px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

a:active {
	padding: 15px 15px 15px 15px;
}

a:hover {

}
