.one, .eight {
	background-color: #5bb2fc;
}
.two, .seven {
	background-color: #58ebd3;
}
.three, .five {
	background-color: #ffa659;
}
.four, .six {
	background-color: #ff7a85;
}
a {
	font: bold 40px 'Arial';
    text-decoration: none;
    white-space: nowrap;
    background-color: #FFF;
    color: #333333;
    padding: 10px 10px 10px 10px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
a:active {
	padding: 15px 15px 15px 15px;
}
a:hover {

}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.cell {
  float: left;
  width: 24%;
  margin: 5px;
  padding: 10% 0%;
  text-align: center;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

